<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button bottom right size = "small" (click)="newListPresentAlert()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-header>
  <ion-toolbar>
    <ion-title>
      Todo List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Logged as : {{userMail}}
  <ion-list>

    <ion-item *ngFor='let l of lists' (click)="openList(l.uuid)">
      <ion-label>{{l.name}} ({{getNumberOfElements(l.uuid)}})</ion-label>
    </ion-item>

  </ion-list>
</ion-content>