ion-card{
    width: 100%;
}

.headertrashicon {
    font-size: 2em;
    position: absolute;
    right: 15px;
    top: 13px;

    &:active {
        opacity: 0.5;
    }
}

.trashicon {
    font-size: 40px;
}

.mycheckbox {
    position: absolute;
    top: 0.1rem;
    right: 2rem;
}

.invisible {
    display: none;
}

.content {
    min-height: 3rem;
}

.dangerbtn {
    color: white;
    background-color: rgb(256,50,50);
    border-radius: 5px;
}

.todoeditbtn {
    height: 30px;
    width: 50px;
    position: absolute;
    right: 16px;
    bottom: 10px;
}